
{% block _address_widget %}
    <div class="container">
    <div class="row">
        <div class="col-sx-12 col-md-2 my-1" style="padding: 0">
            {{ form_widget(form.province) }}
        </div>
        <div class="col-sx-12 col-md-2 my-1" style="padding: 0">
            {{ form_widget(form.city) }}
        </div>
        <div class="col-sx-12 col-md-2 my-1" style="padding: 0">
            {{ form_widget(form.area) }}
        </div>
        <div class="col-sx-12 col-md-3 my-1" style="padding: 0">
            {{ form_widget(form.street) }}
        </div>
        <div class="col-sx-12 col-md-2 my-1">
            {{ form_widget(form.isDefault) }}{{ form_label(form.isDefault) }}
        </div>
    </div>
        <div class="row">
            <div class="offset-10">
                <input type="submit" value="{{ value.id ? "保存" : "添加" }}" class="btn btn-success"/>
            </div>
        </div>
    </div>
    <script>
        var citydata =[];
         citydata['code'] = [];
         citydata['name'] = [];
        $('#address_city option').each(function(){
            citydata['code'].push($(this).val());
            citydata['name'].push($(this).text());
        });

        var areadata = [];
        areadata['code'] = [];
        areadata['name'] = [];
        $('#address_area option').each(function(){
            areadata['code'].push($(this).val());
            areadata['name'].push($(this).text());
        });
        $('#address_city').change(function() {
            var code = $(this).val();
            changeNextFields($("#address_area"),new RegExp('^'+code.substring(0,4)+'[0-9]{2}'),areadata,"<option value>请选择区域</option>");
        });

        $('#address_province').change(function() {
            var code = $(this).val();
            if(isGov(code)){
                $("#address_city").html("<option value>请选择城市</option>");
                changeNextFields($("#address_area"),new RegExp('^'+code.substring(0,2)+'[0-9]{4}'),areadata,"<option value>请选择区域</option>");

            }else{
                changeNextFields($("#address_city"),new RegExp('^'+code.substring(0,2)+'[0-9]{4}'),citydata,"<option value>请选择城市</option>");
            }
        });

        function isGov(code){
            if('110000' === code || '310000' === code || '500000' === code || '120000' === code){
                return true;
            }
            return false;
        }

        function changeNextFields(obj2,reg_match,data,options){
            obj2.html(options);
            $.each(data['code'],function(index,value){
                if(reg_match.test(value)){
                    obj2.append("<option value="+value+">"+data['name'][index]+"</option>");
                }
            });
        }
    </script>
{% endblock %}

{% block _provider_address_widget %}
    <div class="col-xs-2" style="padding: 0">
        {{ form_widget(form.province) }}
    </div>
    <div class="col-xs-2" style="padding: 0">
        {{ form_widget(form.city) }}
    </div>
    <div class="col-xs-2" style="padding: 0">
        {{ form_widget(form.area) }}
    </div>
    <div class="col-xs-3" style="padding: 0">
        {{ form_widget(form.street) }}
    </div>
    <script src="{{ asset('bundles/app/js/backend.js') }}"></script>
{% endblock %}

{% block _member_address_widget %}
    <div class="col-xs-3  col-sm-3" style="padding: 0">
        {{ form_widget(form.province) }}
    </div>
    <div class="col-xs-3  col-sm-3" style="padding: 0">
        {{ form_widget(form.city) }}
    </div>
    <div class="col-xs-3  col-sm-3" style="padding: 0">
        {{ form_widget(form.area) }}
    </div>
    <div class="col-xs-3" style="padding: 0">
        {{ form_widget(form.street) }}
    </div>
    <script src="{{ asset('bundles/app/js/backend.js') }}"></script>
{% endblock %}

{% block _user_address_widget %}
    <div class="col-xs-3  col-sm-3" style="padding: 0">
        {{ form_widget(form.province) }}
    </div>
    <div class="col-xs-3  col-sm-3" style="padding: 0">
        {{ form_widget(form.city) }}
    </div>
    <div class="col-xs-3  col-sm-3" style="padding: 0">
        {{ form_widget(form.area) }}
    </div>
    <div class="col-xs-3" style="padding: 0">
        {{ form_widget(form.street) }}
    </div>
    <script src="{{ asset('bundles/app/js/backend.js') }}"></script>
{% endblock %}
