<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <title>{% block title %}未因{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
    {% block headjavascript %}
        <script src="{{ asset('bundles/app/js/jquery-3.3.1.min.js') }}"></script>
    {% endblock %}
</head>
<body>
{% block menu %}

{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
{% endblock %}
{% block footer %}

{% endblock %}
</body>
</html>
