{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        {#{{ msg ? msg }}#}
        {% if carts %}
            <form id="cart_view" name="cart_view" method="post" action="{{ path('new_trade') }}">
            {% set total_amount = 0 %}
                {% for cart in carts %}
                    <div class="row">
                        <img class="img-thumbnail mr-3" src="{{ product_image }}/{{ cart.product.image }}" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="mt-0">{{ cart.product.title }}</h5>
                            <span class="float-right">
                                {{ include('default/goods_number.html.twig',{'id': cart.product.id,'num':cart.amount}) }}
                            金额:<em id="item-{{ cart.product.id }}-amount" class="amount" >{{ cart.amount * cart.product.price }}</em>
                                {% set total_amount = total_amount + cart.amount * cart.product.price %}
                            </span>
                            <p>型号:{{ cart.product.model }}</p>
                            价格:<em id="item-{{ cart.product.id }}-price">{{ cart.product.price }}</em> <br/>
                            <i class="btn icon icon-trash float-md-right" data-id="{{ cart.id }}">删除</i>
                            <input type="hidden" name="cart_id" id="cart_id" value="{{ cart.id }}" />
                        </div>
                    </div>
                {% endfor %}
            <div class="row">
                <div class="col"></div>
                <div class="col-xs-6 col-md-2 justify-content-end">
                    总金额:<em id="total_amount">{{ total_amount }}</em> <br/>
                    {% if coupons %}
                        <label class="form-check-label"><input id="use_coupon" type="checkbox" name="use_coupon" class="form-check-input"/>使用优惠券</label>

                            <select class="form-control" id="coupon" name="coupon">
                                <option value=" ">请选择优惠券</option>
                                {% for coupon in coupons %}
                                <option value="{{ coupon.id }}">{{ coupon.couponNo }}</option>
                                {% endfor %}
                            </select>

                    {% endif %}
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        帮朋友购买
                    </button>
                </div>
            </div>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <div class="alert" id="friend-alert"></div>
                    <input id="friend_phone" name="friend_phone" class="form-control" type="text" />
                    <input id="check_phone" type="button" class="btn btn-primary" value="验证好友电话" />
                </div>
            </div>
                <div class="row my-3">
                    <div class="col form-group">
                        <label for="remarks">添加备注信息 </label>
                        <textarea class="form-control" name="remarks" id="remarks" rows="3"></textarea>
                    </div>
                </div>

            <div class="row my-3">
                <div class="col">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% if app.user.defaultAddress %}
                            <div class="address">地址:{{  app.user.defaultAddress  }}</div>
                        {% else %}
                            <div class="address alert alert-warning"><a href="{{ path('address_new') }}">请先设置地址"</a></div>
                        {% endif %}
                    {% endif %}
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <div class="col-xs-6 col-md-2"><input type="button" name="submit" id="submit" class="btn btn-warning" value="生成订单"/> </div>
            </div>
            </form>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/goods_number.js') }}"></script>
    <script src="{{ asset('bundles/app/js/modify_car.js') }}"></script>
{% endblock %}