{% extends 'base.html.twig' %}
{% block body %}
    {{ msg ? msg }}
    {% if clothes %}
        {% for clothe in clothes %}
            <h2>{{ clothe.product.title }}</h2>
            <p>型号:{{ clothe.product.model }}</p>
            价格:<em id="item-{{ clothe.product.id }}-price">{{ clothe.product.price }}</em> <br/>
            <button class="btn reduce" data-id="{{ clothe.product.id }}">-</button>
            <label for="num">数量:<input class="num-{{ clothe.product.id }} number" data-id="{{ clothe.product.id }}" pattern="[0-9]+" type="text" size="2"  value="{{ clothe.num }}"  /> </label>
            <button class="btn add" data-id="{{ clothe.product.id }}">+</button>

            金额:<em class="item-{{ clothe.product.id }}-sum amount" >{{ clothe.amount }}</em><br/>
        {% endfor %}
        总金额:<em id="total_amount">{{ total_amount }}</em> <br/>
        <a class="btn btn-warning" href="{{ path('create_trade') }}">结算</a>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/mody_car.js') }}"></script>
{% endblock %}