{% extends 'base.html.twig' %}
{% block body %}
    {{ msg ? msg }}
    {% if clothes %}
        {% for clothe in clothes %}
            <h2>{{ clothe.product.title }}</h2>
            <p>型号:{{ clothe.product.model }}</p>
            价格:<em id="item-{{ clothe.product.id }}-price">{{ clothe.product.price }}</em> <br/>
            {{ include('default/goods_number.html.twig') }}
            金额:<em class="item-{{ clothe.product.id }}-sum amount" >{{ clothe.amount }}</em><br/>
        {% endfor %}
        总金额:<em id="total_amount">{{ total_amount }}</em> <br/>
        {% if coupons %}
            {{ form_start(coupons) }}
            {{ form_widget(coupons) }}
            {{ form_end(coupons) }}
           {# 使用优惠券<input type="checkbox" name="use_coupon" />
            <select>
                {% for coupon in coupons %}
                <option value="{{ coupon.id }}">{{ coupon.couponNo }}</option>
                {% endfor %}
            </select>#}
        {% endif %}

        <a class="btn btn-warning" href="{{ path('create_trade') }}">结算</a>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/mody_car.js') }}"></script>
{% endblock %}