{% extends 'base.html.twig' %}
{% block body %}
    <div class="container container-while">
        {% if carts is defined %}
            <div class="alert alert-error"></div>
            <form id="cart_view" name="cart_view" method="post" action="{{ path('new_trade') }}">
            {% set total_amount = 0 %}
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th scope="col">商品图片</th>
                            <th scope="col">名称</th>
                            <th scope="col">单价</th>
                            <th scope="col">金额</th>
                            <th scope="col">数量</th>
                            <th scope="col">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                {% for cart in carts %}
                        <tr>
                            <td><img class="img-thumbnail mr-3 img-sm" src="{{ product_image }}/{{ cart.product.image }}" alt="Generic placeholder image"></td>
                            <td>{{ cart.product.title }}</td>
                            <td><em id="item-{{ cart.product.id }}-price" class="text-price">{{ cart.product.price }}</em>元</td>
                            <td><em id="item-{{ cart.product.id }}-amount" class="amount text-price" >{{ cart.amount * cart.product.price }}</em>元</td>
                            <td>{{ include('default/goods_number.html.twig',{'id': cart.product.id,'num':cart.amount, 'max': cart.product.stock }) }}</td>
                            <td><i class="btn icon icon-trash float-md-right" data-cart-id="{{ cart.id }}" data-id="{{ cart.product.id }}">删除</i></td>
                        </tr>
                    <input type="hidden" name="cart_id" id="cart_id" value="{{ cart.id }}" />
                    {% set total_amount = total_amount + cart.amount * cart.product.price %}
                {% endfor %}
                        </tbody>
                    </table>
                </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-xs-6 col-md-2 justify-content-end">
                    总金额:<em id="total_amount" class="text-price" >{{ total_amount }}</em>元<br/>
                    {% if coupons %}
                        <label class="form-check-label"><input id="use_coupon" type="checkbox" name="use_coupon" class="form-check-input"/>使用优惠券
                            <select class="form-control" id="coupon" name="coupon">
                                <option value=" ">请选择优惠券</option>
                                {% for coupon in coupons %}
                                <option value="{{ coupon.id }}">优惠：{{ coupon.amount }}元</option>
                                {% endfor %}
                            </select>
                        </label>

                    {% endif %}
                    <button class="btn btn-outline-while my-5" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        帮朋友购买
                    </button>
                </div>
            </div>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <div class="alert" id="friend-alert"></div>
                    <div class="input-group">
                        <label for="friend_phone">手机号:</label>
                        <input id="friend_phone" name="friend_phone" class="form-control" type="text" />
                        <div class="input-group-append">
                            <input id="check_phone" type="button" class="btn btn-orange" value="验证好友电话"  placeholder="请您输入朋友的手机号"/>
                        </div>
                    </div>
                </div>
            </div>
                <div class="row my-3">
                    <div class="col form-group">
                        <label for="remarks">添加备注信息 </label>
                        <textarea class="form-control" name="remarks" id="remarks" rows="3" placeholder="如衣服颜色需要更换，或需要索取发票信息可在这里填写"></textarea>
                    </div>
                </div>

                <div class="row my-3">
                    <div class="col">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {% if app.user.defaultAddress %}
                                <div class="address">收货地址:{{  app.user.defaultAddress  }}</div>
                            {% else %}
                                <div class="address alert alert-warning">您还没有添加收货地址,请先<a href="{{ path('address_new') }}">添加地址</a></div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="row my-5">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <div class="col text-center"><input type="button" name="submit" id="submit" class="btn btn-outline-orange" value="生成订单"/> </div>
                </div>
            </form>
            {% else %}
            <div class="alert alert-info">你没有添加任何商品，<a href="{{ path('homepage') }}">现在去添加</a> </div>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/goods_number.js') }}"></script>
    <script src="{{ asset('bundles/app/js/modify_car.js') }}"></script>
{% endblock %}