
<div id="footer" class="my-3">
    <div class="container">
        {% if settings %}
        <div class="row justify-content-center">
            <div class="col-md-auto text-center">
                网站名称:{{ settings.siteName }}&nbsp;&nbsp;
                电话: {{ settings.phone }}&nbsp;&nbsp;
                地址:{{ settings.address }}<br/>
                版权:{{ settings.copyRight }}&nbsp;&nbsp;
                公司名称:{{ settings.company }}&nbsp;&nbsp;
                <a href="http://www.miitbeian.gov.cn">{{ settings.beian }}</a>&nbsp;&nbsp;
                <a href="{{ path('contact') }}"> 联系我们</a><br/>
                技术支持:<a href="http://www.drupai.com">助派网络</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
