<div class="input-group">
    <input id="reduce-{{ id }}" type="button" class="btn reduce btn-outline-gray" name="reduce" data-id="{{ id }}"  value="-"/>
    <input id="num-{{ id }}" type="text" name="number" class="number num-{{ id }} mx-2" value="{{ num }}" size="2" data-id="{{ id }}" data-max="{{ max }}"/>
    <input id="add-{{ id }}" type="button" class="btn add btn-outline-gray" name="add" data-id="{{ id }}"   data-max="{{ max }}" value="+"/>
</div>

