{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/swiper.min.css') }}" />
{% endblock %}
{% block body %}
    {% if swipers %}
        {{ include('default/swiper.html.twig',{'swipers':swipers}) }}
    {% endif %}
    <div id="main" class="container">
        {{ products ? include('default/front_product.html.twig',{'products': products}) : '' }}
        {{ region ? region | raw : '' }}
    </div>
{% endblock %}

