<div class="header sticky-top bg-white shadow mb-3">
    <div class="container">
        <nav class="navbar navbar-expand-lg ">
            {#<button class="navbar-toggler col-xs-3" type="button" data-toggle="collapse" data-target="#navbarMainMenuContent" aria-controls="navbarMainMenuContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">菜单</span>
            </button>#}
            {#<a class="navbar-brand" href="{{ path('homepage') }}" >未因</a>#}
            <div class="justify-content-end" id="navbarMainMenuContent">
                <ul class="nav">
                    <li class="nav-item{#{% if app.requestUri == path('homepage') %}active{% endif %}#}"><a class="nav-link" href="{{ path('homepage') }}">未因</a></li>
                    <li class="nav-item dropdown">
                        <a id="navbarDropdownMenuLink" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >服饰</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {% for menu in menus.2.submenu %}
                            <a class="dropdown-item" href="{{ path('product_list',{ 'category':menu.link}) }}"  title="{{ menu.name }}">{{ menu.name }} </a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('brand') }}"> 品牌</a></li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item">
                            <a id="navbarDropdownMember" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ app.user.username }}</a>
                            {{ include('member/member_menu.html.twig') }}
                        </li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('member') }}">会员</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</div>