<div class="header sticky-top bg-white">
    <div class="container text-center">
        <ul class="navbar-navs row">
            <li class="col-6 col-md-1"><a class="navbar-brands nav-link" href="/" >未因</a></li>
            <li class="col-6 col-md-1 offset-md-1"><a class="nav-link" href="{{ path('homepage') }}">首页</a></li>
            <li class="dropdown col-6 col-md-2">
                <a id="navbarDropdownMenuLink" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >产品展示</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {% for menu in menus.2.submenu %}
                    <a class="dropdown-item" href="{{ path('product_list',{ 'category':menu.link}) }}"  title="{{ menu.name }}">{{ menu.name }} </a>
                    {% endfor %}
                </div>
            </li>
            <li class="col-6 col-md-2"><a class="nav-link" href="{{ path('brand') }}"> 品牌展示</a></li>
            <li class="col-6 col-md-2"><a class="nav-link" href="{{ path('contact') }}"> 联系我们</a></li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item">
                    <a id="navbarDropdownMember" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">会员中心</a>
                    {{ include('member/member_menu.html.twig') }}
                </li>
            {% else %}
            <li class="col-6 col-md-2"><a class="nav-link" href="{{ path('member') }}"> 会员登录</a></li>
            {% endif %}
        </ul>
    </div>
</div>