{% extends 'base.html.twig' %}
{% block body_id 'product-show' %}
{% block body %}
    <div class="container">
        {% if product %}
        <div class="row">
            <div class="col-12 col-md-6">
                <img class="img-responsive title-img" src="{{ product_image }}/{{ product.image }}" alt="{{ product.title }}" />
            </div>
            <div class="col-12 col-md-6">
                <h2 class="card-title">{{ product.title }}</h2>
                <ul class="row list-unstyled">
                        <li class="col-6 col-md-3">版型:{{ product.model }}</li>
                        <li class="col-6 col-md-3">编号:{{ product.productNo }}</li>
                        <li class="col-6 col-md-3">名称:{{ product.title }}</li>
                        <li class="col-6 col-md-3">类型:{{ product.productType }}</li>

                        <li class="col-6 col-md-3">尺码:{{ product.size }}</li>
                        <li class="col-6 col-md-3">制作周期:{{ product.cycle }}</li>
                        <li class="col-6 col-md-3">货号:{{ product.articleNumber }}</li>
                        <li class="col-6 col-md-3">款式:{{ product.style }}</li>
                        <li class="col-6 col-md-3">风格:{{ product.styles }}</li>
                        <li class="col-6 col-md-3">材质:{{ product.material }}</li>
                        <li class="col-6 col-md-3">颜色:{{ product.color }}</li>
                        <li class="col-6 col-md-3">图案:{{ product.pattern }}</li>
                        <li class="col-6 col-md-3">薄厚:{{ product.thick }}</li>
                        <li class="col-6 col-md-3">工艺:{{ product.craft }}</li>
                        <li class="col-6 col-md-3">衣长:{{ product.coatLength }}</li>
                        <li class="col-6 col-md-3">袖长:{{ product.sleeveLength }}</li>
                        <li class="col-6 col-md-3">袖型:{{ product.sleeveStyle }}</li>
                        <li class="col-6 col-md-3">领型:{{ product.collarStyle }}</li>
                        <li class="col-6 col-md-3">衣门襟:{{ product.flap }}</li>
                        <li class="col-6 col-md-3">开叉:{{ product.forking }}</li>
                        <li class="col-6 col-md-3">襟型:{{ product.flapStyle }}</li>
                        <li class="col-6 col-md-3">裤长:{{ product.pantsLength }}</li>
                        <li class="col-6 col-md-3">裙长:{{ product.skirtLength }}</li>
                        <li class="col-6 col-md-3">裙型:{{ product.skirtStyle }}</li>
                        <li class="col-6 col-md-3">标签:{{ product.productLabel }}</li>
                        <li class="col-6 col-md-3">上市时间:{{ product.marketTime }}</li>
                        <li></li>

                </ul>
                <div id="alert"></div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col-md-4 col-md-offset-8">
                        <div class="text-danger text-bold">价格:{{ product.price }}元</div>
                        {{ include('default/goods_number.html.twig',{'id':product.id, 'num': 1 }) }}
                        <div id="add-car" class="btn btn-danger my-3" data-id="{{ product.id }}">添加到购物车</div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col">
                商品详情:{{ product.description | raw }}
            </div>
        </div>
            {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/goods_number.js') }}"></script>
    <script src="{{ asset('bundles/app/js/shopping_car.js') }}"></script>
{% endblock %}