{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        会员个人中心
        <a href="{{ path('member_edit',{id: member.id}) }}">修改资料</a>
        <div class="row">会员姓名: {{ member.username }}</div>
        <div class="row">邮箱: {{ member.email }}</div>
        <div class="row">手机号: {{ member.phone }}</div>
        <div class="row">我的地址: <a href="{{ path('address_new') }}">添加地址</a></div>
        <ul>
            {% for address in member.address %}
                <li>{% if address.isDefault %}默认地址: {% endif %}{{ address }}<a href="{{ path('edit_address',{id: address.id}) }}">修改</a><a href="{{ path('address_delete',{id: address.id}) }}">删除</a></li>
                {% endfor %}
        </ul>

    </div>
{% endblock %}