{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <pre class="col-12 text-center">
                订单号是:{{ data.out_trade_no }}
                支付宝交易号:{{ data.trade_no }}
                订单总金额:{{ data.total_amount }}
                支付单号:{{ data.trade_no }}
                时间:{{ data.timestamp }}
             </pre>
        </div>
    </div>

{% endblock %}